@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

* {
  font-family: Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: rgba(128, 197, 110, 0.05);
  line-height: 1.2;
  color:#2c3e50;
}
p{
  line-height: 1.5;
}
h1,h2,h3,h4 {
  font-family: 'Roboto Condensed', sans-serif;
}
h2{
  margin-bottom:1rem;
}
h3{
  margin-bottom:1rem;
}
h4 {
  font-size:1rem;
  margin-bottom:1rem;

}
ul{
  margin-left:1.5rem;
  line-height: 1.5;
}
em {
  font-style: italic;
}
input {
    border-radius: 4px;
    padding: 0.5rem 1rem;
    border:1px solid #ccc;
    &:focus {
      background-color: #fff;
    }
  }
input[type=radio], input[type=checkbox]{
  margin-right:0.5rem;
}
  button,
  a.button {
    padding: 0.5rem 1rem;
    background-color: #80c56e;
    border-radius: 4px;
    color:white;
    display:block;
    text-decoration:none;
    margin-bottom:2rem;
    &:hover{
opacity: 0.8;
    }
  }

  button.sort-button{
    padding:0.25rem;
    height:2rem;
    margin: 4px 1rem 0 0;
  }
  a {
    color:#476643;
    text-decoration: underline;
    font-weight:600;
    &:hover {
      color:#80c56e;
    }
  }
  a.vermas{
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
  }
  .benefits p {
    margin-bottom:1rem;
  }
.hide {
  position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}


  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    max-width: 1280px;
    margin: 0 auto;
  }
    #nav {

      padding: 30px;
      display: flex;
      justify-content: center;
      color:#ccc;
      border-bottom: 2px solid #80c56e;
      margin-bottom:1rem;
      img{
        width: 150px;
      }
      a {
        font-family: 'Roboto Condensed', sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #2c3e50;
  
        &.router-link-exact-active {
          color: #80c56e;
        }
      }
      .logo {
        background-color: #f8fcf7;
        padding: 20px 50px;
        margin-top: -50px;
        position: relative;
        top: 15px;
        border-radius: 50%;
        margin-bottom: -50px;
        .ui.image {
          width: 40px;
        }
      }
    }
    .container {
      padding:1rem;
    }

.row{
  margin-bottom:1rem;
  display: flex;
  flex-wrap: wrap;
  &:not(.left){
    justify-content:space-between;
  }
  .col-md-4 {
    flex-basis: 24%;
  }
  .col-2 {
    flex-basis: 48%;
  }
  .col-3 {
    flex-basis: 31%;
  }
  &.search{
    margin-bottom:2rem;
  }
  &.ded {
      align-items: center;
  }
  &.column {
    flex-direction: column;
  }
}

  .card{
    margin-bottom:2rem;
    border-radius: 5px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    &:hover{
      background: #ffffff;
    }
    &__body{
    display:flex;
    flex-direction: column;
    text-align:left;
    padding: 1.5rem;
    .left {
      gap:5px;
    }
    h3{
      margin-bottom:0.3rem;
    }
    }
    &__scientific-name {
      font-family:Roboto,sans-serif;
      color:rgba(1,1,1,0.6);
    }
    .card-img {
      max-height: 378px;
      width: auto;
      display: block;
      margin: 0 auto;
      max-width: 100%;
      border-radius:5px 5px 0 0;
      &:hover{
        opacity:0.8;
      }
    }
    a {
      text-decoration:none;
      color:#2c3e50;
      &:hover{
        color:#80c56e;
      }
    }
  }

  span.title {
    width: 38%;
    display: flex;
    align-items: center;
  }
  .barrita {
    background: #f5f5f5;
    width: 62%;
    height: 1rem;
    border:1px solid #80c56e;
    &.Alta .dedicacion{
      width: 80%;
      
    }
    &.Media-Alta .dedicacion{
      width: 75%;
      
    }
    &.Media .dedicacion{
      width: 50%;
      //opacity:0.8;
    } 
    &.Media-baja .dedicacion{
      width: 25%;
      //opacity:0.8;
    } 
    &.Baja .dedicacion{
      width: 10%;
      //opacity:0.5;
    }
    .dedicacion {
      background: #80c56e;
      height: 100%;
      display: block;
      display: flex;
      justify-content: center;
    }
    .small {
      font-size:0.8rem;
    }
  }

.toxicity{
  width: 24px;
  //&:not(.nontoxic) {
   // filter: invert(19%) sepia(41%) saturate(7309%) hue-rotate(353deg) brightness(100%) contrast(100%);
   // }
  &.nontoxic {
    opacity: 0.2;
    color:#2c3e50;
  }
}

/*plant */

.plant{
  &__image{
    width: 48%;
    img{
      max-width: 100%;
      height:auto;
    }
  }
  &__data{
    width: 50%;
    padding-top:2rem;
    padding-left:1rem;

  }
}
dl {
  display: flex;
  gap:1rem;
  margin-bottom:1rem;
  align-items: flex-start;
}
dt {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 600;
  min-width: 150px;
}

dd {
  color: #2c3e50;
  line-height: 1.6rem;
  &.dd-barrita{
    flex-basis:calc(100% - 150px);
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}

/* checkboxes bonitos */
.sidebar .row{
  justify-content: flex-start;
  gap:1.3rem;
  &:not(.animals){
    flex-direction:column;
  }
}
 /* Customize the label (the container) */

.animals .form-control{
  padding-left:0;
  display: flex;
  gap:4px;
  border:2px solid #80c56e;
  border-radius:4px;
  padding:3px 6px;
}
.form-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.normal {
/* Hide the browser's default checkbox */

  .form-control {
    display: flex;
    position: relative;
    padding-left: 28px;;
      cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    gap:6px;
  }
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px;;
    background-color: #fff;
    border: 2px solid #80c56e;
  }

  /* On mouse-over, add a grey background color */
  .form-control:hover input ~ .checkmark {
    background-color: #eee;
  }

  /* When the checkbox is checked, add a blue background */
  .form-control input:checked ~ .checkmark {
    background-color: #80c56e;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .form-control input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .form-control .checkmark:after {
    left: 6px;
    top: 0px;
    width: 5px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } 
}